* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("./pink.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d2e35;
}

.containter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}
.containter .tenor-gif-embed {
    max-width: 200px;
}

.containter .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}
button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
      --glow-color: rgb(255, 191, 241);
      --glow-spread-color: rgba(160, 133, 150, 0.781);
      --enhanced-glow-color: rgb(231, 206, 255);
      --btn-color: rgb(177, 97, 157);
      border: .25em solid var(--glow-color);
      padding: 1em 3em;
      color: var(--glow-color);
      font-size: 30px;
      font-weight: bold;
      background-color: var(--btn-color);
      border-radius: 1em;
      outline: none;
      box-shadow: 0 0 1em .55em var(--glow-color),
             0 0 4em 1em var(--glow-spread-color),
             inset 0 0 .75em .25em var(--glow-color);
      text-shadow: 0 0 .5em var(--glow-color);
      transition: all 0.3s;
     }
     
     button::after {
      pointer-events: none;
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--glow-spread-color);
      filter: blur(2em);
      opacity: .7;
      transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
     }
     
     button:hover {
      color: var(--btn-color);
      background-color: var(--glow-color);
      box-shadow: 0 0 1em .25em var(--glow-color),
             0 0 4em 2em var(--glow-spread-color),
             inset 0 0 .75em .25em var(--glow-color);
     }
     
     button:active {
      box-shadow: 0 0 0.6em .25em var(--glow-color),
             0 0 2.5em 2em var(--glow-spread-color),
             inset 0 0 .5em .25em var(--glow-color);
     }
/* From Uiverse.io by SalladShooter */ 
.like-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(990%);
    --gap: 0.5em;
    --radius: 0.35em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    --dot-bg: #ffc6e9;
    --dot-color: #ffc6e9;
    --dot-size: 1px;
    --dot-space: 22px;
    background: linear-gradient(
          90deg,
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
    border: 0.1em solid #ffdffb;
    padding: 0.5em;
    border-radius: var(--radius);
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .check[type="checkbox"] {
    display: none;
  }
  
  .container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: -0.25em;
    margin-bottom: -0.25em;
  }
  
  .icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    fill: white;
    transition: opacity 0.3s ease-in-out;
  }
  
  .icon.active {
    display: none;
    fill: #ff8181;
  }
  
  .check[type="checkbox"]:checked + .container .icon.active {
    display: inline-block;
    animation: wiggle 0.5s ease-in-out;
  }
  
  .check[type="checkbox"]:checked + .container .icon.inactive {
    display: none;
  }
  
  .like-text {
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
  }
  
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
  }
  
